.ads {
  .ads-space-top {
    margin-top: 2.5rem;
  }

  .text {
    display: flex;
    flex-direction: column;
  }

  .darken {
    background: #f7f7f7;
    padding: 2.5rem;
  }

  .label {
    color: #495057;
    font-family: 16px;
    line-height: 1.5;
  }

  // Enable grid css styles
  // scss-lint:disable PropertySpelling
  .layout-grid {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .form-title {
    color: #212529;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  input[type='text'],
  input[type='number'],
  select {
    background-color: #fff;
    border: solid 1px #ced4da;
    height: 38px;
    margin-bottom: 1rem;
    width: 100%;
  }

  textarea {
    background-color: #fff;
    border: solid 1px #ced4da;
    height: 190px;
    margin-bottom: 1rem;
    width: 100%;
  }

  .search-btn {
    background: #1661ab;
    border: 0;
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    padding: 0.75rem 1.75rem;
  }

  .search-links a {
    color: #1661ab;
    font-size: 24px;
    line-height: 1.5;
  }

  .ads-sort-select {
    background: #fff;
    border: 1px solid #ced4da;
    margin-left: 0.25rem;
    padding: 0.25rem;
    width: 212px;
  }

  .advanced-title {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  @media only screen and (max-width: 992px) {
    // Enable grid css styles
    // scss-lint:disable PropertySpelling
    .layout-grid {
      grid-gap: 1rem;
    }

    .ads-space-top {
      margin-top: 1rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .advanced-title {
      font-size: 22px;
      margin-bottom: 0;
      margin-top: 0;
    }

    .darken {
      padding: 1.25rem;
    }

    // Enable grid css styles
    // scss-lint:disable PropertySpelling
    .layout-grid {
      grid-template-columns: 1fr;
    }

    .search-links a {
      font-size: 1rem;
    }
  }

  .error-message {
    color: rgb(236, 1, 1);
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }

}
